@import "tailwindcss";

body {
  background-color: #0f172a;
  color: #f1f5f9;
  font-family: 'Inter', sans-serif;
}

a {
  color: #38bdf8;
  transition: color 0.3s ease;
}
a:hover {
  color: #7dd3fc;
}
